<div id="page_wrapper">
<div id="profile_image">
	<%= image_tag "profile.jpeg" %>
</div>	

<div id="content">
<h1>Hey, I'm Danny Rosenfeld</h1>
<p>Welcome to my blogging application that I made in rails</p>	
<p>This week I developed a blog in Rails 4.  You're checking out the demo right now.  Cool beans right?</p>
<p>If you'd like to follow along as I learn more Ruby on Rails find me on Twitter <a href="http://twitter.com/dannyarosenfeld">@dannyarosenfeld</a>
or on the web at <a href="http://dannyrosenfeld.com">dannyrosenfeld.com</a>.  and get my posts and exclusive content in your inbox by signing up for my newsletter <a href="#">here</a></p>

















</div>
</div>